:root {
  --main-page-background-color: white;
  }
  
body {
  height: 100%;
  margin: 0;
  padding: 0px;
  font-family: Arial, sans-serif;
  background-color: var(--main-page-background-color);
  }
  
h1 {
  font-size: 30px;
  font-weight: bold;
  }
  
h2 {
  font-size: 25px;
  font-weight: bold;
  }
  
header, footer {
  text-align: center;
  padding: 0px;
  }

button {
  font-weight: bold;
  background-color: darkgray;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}
  
@media (max-width: 690px) {
  body {
    padding: 0px;
    }
  }
  
@media (max-width: 500px) {
  body {
    padding: 0px;
    }
  }