
:root {
  --main-page-background-color: white;
}

body {
  height: 100%;
  margin: 0;
  padding: 0px;
  font-family: Arial, sans-serif;
  background-color: var(--main-page-background-color);
}

header {
  color: white;
  background-color: rgb(50, 50, 150);
  width: auto;
  height: 100px;
  margin: 0px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: right;
  overflow: auto;
}

footer {
  text-align: center;
  padding: 0px;
}

header h1 {
  font-size: 50px;
  text-align: right;
  padding: 0px;
  margin: 0px;
  line-height: 56px;
}

header p {
  font-size: 20px;
  font-weight: normal;
  padding: 0px;
  margin: 0px;
  margin-top: 5px;
  line-height: 23px;
  color: lightgray;
}

h1 {
  font-size: 50px;
  font-weight: bold;
}

h2 {
  font-size: 25px;
  font-weight: bold;
}

button {
  cursor: pointer;
}

.theCitySearchButton {
  width: 97%;
  height: 30px; 
  color: white;
  font-weight: bold; 
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(116, 173, 219);
  border: 3px solid white; 
  border-radius: 5px;
}

.theCitySearchButton:hover {
  /*background-color: green;*/
  border: 3px solid rgb(116, 173, 219);
}

.theCitySearchButton:active {
  border: 3px solid yellow;
}

#theSearchButtonNoteButton {
  width: 50%;
  min-width: 100px;
  color: white;
  background-color: purple;
  border: 3px solid white;
  border-radius: 5px;
}

#theSearchButtonNoteButton:hover {
  border: 3px solid purple;
}

#theSearchButtonNoteButton:active {
  border: 3px solid yellow;
}

.aCityButtonLeftColumnName, 
.aCityButtonLeftColumnDelete {  /* the city Search history buttons */
  font-size: 13px;
  line-height: 15px;
  font-weight: bold;
  height: auto;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  background-color: rgb(200, 200, 200);
  border: 3px solid rgb(200, 200, 200);
  border-radius: 5px;
  align-content: center;
}

.aCityButtonLeftColumnName {  /* the city Search history buttons */
  width: 70%;
}
 
.aCityButtonLeftColumnDelete {  /* the city Search history buttons */
  width: 30%;
}

.aCityButtonLeftColumnName:hover, 
.aCityButtonLeftColumnDelete:hover {
  color: white;
  background-color: blue;
}

.aCityButtonRightColumn {  /* the pre-set power-trip city buttons */
  font-weight: bold;
  width: 35%;
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom: 10px;
  background-color: rgb(200, 225, 200);
  border: 3px solid white;
  border-radius: 5px;
}

.aCityButtonRightColumn:hover {
  border: 3px solid rgb(200, 225, 200);
  }

.aCityButtonLeftColumnName:active, 
.aCityButtonLeftColumnDelete:active, 
.aCityButtonRightColumn:active {
  border: 3px solid yellow;
}

#theWeatherIconInformationButton {
  font-weight: normal;
  padding: 0px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  width: 75%;
  color: white;
  background-color: purple;
  border: 3px solid white;
  border-radius: 5px;
}

#theWeatherIconInformationButton:hover, 
#searchForCityLatitudeLongitudeCoordinates:hover {
  border: 3px solid purple;
}

#theWeatherIconInformationButton:active, 
#searchForCityLatitudeLongitudeCoordinates:active {
  border: 3px solid yellow;
}

.aCityButtonCombinedColumn {  /* the "Denver" buttons */
  font-weight: bold;
  width: 20%;
  margin-bottom: 10px;
  margin-left: 25px;
  margin-right: 25px;
  color: white;
  background-color: rgb(146, 110, 43);
  border: 3px solid white;
  border-radius: 5px;
}

#theDenverColoradoMainButtonC1 {
  width: 80%;
}

.aCityButtonCombinedColumn:hover {
  border: 3px solid rgb(146, 110, 43);
}

.aCityButtonCombinedColumn:active {
  border: 3px solid yellow;
}

#searchForCityLatitudeLongitudeCoordinates {
  color: white;
  background-color: purple;
  border: 3px solid white;
  border-radius: 5px;
}

#submitCoordinateBasedWeatherApiInformation {
  text-align: center;
  font-weight: bold;
  padding: 10px;
  color: black;
  background-color: gray;
  border: 5px double orange;
  border-radius: 15px;
  margin: 10px;
}

#submitCoordinateBasedWeatherApiInformation:hover {
  background-color: blue;
}

#submitCoordinateBasedWeatherApiInformation:active {
  border: 5px double yellow;
}

/*  MEDIA QUERIES  (for beyond the responsiveness that is established through inline HTML CSS) */

@media (max-width: 690px) {
  body {
    padding: 0px;
    margin: 0px;
    }
}

@media (max-width: 500px) {
  body {
    padding: 0px;
    margin: 0px;
    }
}
