
:root {
  --main-page-background-color: white;
}

body {
  height: 100%;
  margin: 0;
  padding: 0px;
  font-family: Arial, sans-serif;
  background-color: var(--main-page-background-color);
}

header {
  color: white;
  background-color: rgb(50, 50, 150);
  width: auto;
  height: 100px;
  margin: 0px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: right;
  overflow: auto;
}

footer {
  text-align: center;
  padding: 0px;
}

header h1 {
  font-size: 50px;
  text-align: right;
  padding: 0px;
  margin: 0px;
  line-height: 56px;
}

header p {
  font-size: 20px;
  font-weight: normal;
  padding: 0px;
  margin: 0px;
  margin-top: 5px;
  line-height: 23px;
  color: lightgray;
}

h1 {
  font-size: 50px;
  font-weight: bold;
}

h2 {
  font-size: 25px;
  font-weight: bold;
}

button {
  cursor: pointer;
}

.theCitySearchButton {
  width: 97%;
  height: 30px; 
  color: white;
  font-weight: bold; 
  background-color: rgb(116, 173, 219);
  margin-top: 10px;
  margin-bottom: 10px; border: none; 
  border-radius: 5px;
}

.theCitySearchButton:hover {
  width: 100%;
  height: 34px;
}

.theCitySearchButton:active {
  border: 5px solid yellow;
}

#theSearchButtonNoteButton {
  width: 50%;
  min-width: 100px;
  color: white;
  background-color: purple;
  border-radius: 5px;
}

#theSearchButtonNoteButton:hover {
  border: 5px solid purple;
}

#theSearchButtonNoteButton:active {
  border: 5px solid yellow;
}

.aCityButtonLeftColumn {
  font-weight: bold;
  background-color: rgb(200, 200, 200);
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
}

.aCityButtonRightColumn {
  font-weight: bold;
  background-color: rgb(200, 225, 200);
  border-radius: 5px;
  width: 35%;
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom: 10px;
}

.aCityButtonLeftColumn:hover, 
.aCityButtonRightColumn:hover {
  color: white;
  background-color: blue;
}

.aCityButtonLeftColumn:active, 
.aCityButtonRightColumn:active {
  border: 5px solid yellow;
}

#theWeatherIconInformationButton {
  font-weight: bold;
  padding: 0px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  width: 75%;
  color: white;
  background-color: purple;
  border-radius: 5px;
}

#theWeatherIconInformationButton:hover {
  border: 5px solid purple;
}

#theWeatherIconInformationButton:active {
  border: 5px solid yellow;
}

/*  MEDIA QUERIES  (for beyond the responsiveness that is established through inline HTML CSS) */

@media (max-width: 690px) {
  body {
    padding: 0px;
    margin: 0px;
    }
}

@media (max-width: 500px) {
  body {
    padding: 0px;
    margin: 0px;
    }
}
